data/
.DS_Store

BACKUP_210824_Project.toml

*.zip

tex/7CCMCS01 AC38091.pdf

tex/cover_sheet.docx

tex/cover_sheet.pdf

X_ARCHIVE/
tex/main.toc

*.synctex(busy)

*.out

*.log

*.auxlock

*.aux

*.bcf

*.gz

*.xml
